<h2 class="text-uppercase text-center fs-1 mt-2" > cassa </h2>
<div class="d-flex justify-content-around w-div ">
    <div id="ciao" class="text-center w border border-dark d-flex flex-column align-items-center justify-content-center" >
        <p class="fs-1"> ordini evasi</p>
    </div>
    <div id="ciaoi" class="text-center w  border border-dark d-flex flex-column align-items-center justify-content-center">
        <p class="fs-1"> totale evaso</p>
    </div>
</div>
@section scripts{

    <script src="~/Scripts/JavaScript2.js"></script>
}